@font-face {
  font-family: 'Sentient';
  font-weight: 200;
  font-style: normal;
  font-display: swap;
  src: url('./Sentient-Extralight.otf') format('opentype');
}

@font-face {
  font-family: 'Sentient';
  font-weight: 200;
  font-style: italic;
  font-display: swap;
  src: url('./Sentient-ExtralightItalic.otf') format('opentype');
}

@font-face {
  font-family: 'Sentient';
  font-weight: 300;
  font-style: normal;
  font-display: swap;
  src: url('./Sentient-Light.otf') format('opentype');
}

@font-face {
  font-family: 'Sentient';
  font-weight: 300;
  font-style: italic;
  font-display: swap;
  src: url('./Sentient-LightItalic.otf') format('opentype');
}

@font-face {
  font-family: 'Sentient';
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url('./Sentient-Regular.otf') format('opentype');
}

@font-face {
  font-family: 'Sentient';
  font-weight: 400;
  font-style: italic;
  font-display: swap;
  src: url('./Sentient-Italic.otf') format('opentype');
}

@font-face {
  font-family: 'Sentient';
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: url('./Sentient-Medium.otf') format('opentype');
}

@font-face {
  font-family: 'Sentient';
  font-weight: 500;
  font-style: italic;
  font-display: swap;
  src: url('./Sentient-MediumItalic.otf') format('opentype');
}

@font-face {
  font-family: 'Sentient';
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url('./Sentient-Bold.otf') format('opentype');
}

@font-face {
  font-family: 'Sentient';
  font-weight: 700;
  font-style: italic;
  font-display: swap;
  src: url('./Sentient-BoldItalic.otf') format('opentype');
}
